nav {
  background-color: var(--primary-color);
  border-bottom: 1.8px solid var(--secondary-color);
}

.navbar-brand {
  font-family: 'Itim', sans-serif !important;
  font-size: 1.5rem;
}

.not-active {
  color: rgba(255, 255, 255, .55);
}
