:root {
  --primary-color: #df232d;
  --secondary-color: #11468F;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif !important;
}

ul {
  list-style: none !important;
}

a {
  text-decoration: none !important;
}
